<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/chatbot/style.css">
    <title>Chatbot</title>
    <style>
        body {
            background-image: url("/static/images/{{ safespace }}.jpg"); /* Dynamically set background */
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <h1>Chatbot</h1>
        <div class="chatbox" id="chatbox">
            <div id="messages"></div>
            <form id="chat-form" method="POST" action="/chatbot/{{safespace}}">
                <input type="text" id="user-message" name="message" placeholder="Type your message here...">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
    <script src="/templates/chatbot/chatbot.js"></script>
</body>
</html>
