<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delulu - Homepage</title>
    <link rel="stylesheet" href="/templates/homepage/style.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="/static/images/logo.png" alt="Delulu Logo" class="logo">
        </header>

        <section class="hero">
            <h1>Reality is what you make it - <br> Delulu helps you make it better</h1>
        </section>

        <section class="second-section">
            <a href="/templates/safespace/safespace.html" class="start-btn">Let's chat!</a>
        </section>
    </div>
</body>
</html>
