* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Copperplate, Papyrus, fantasy;
    background-image: url('/static/images/homepage.jpg');
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header .logo {
    position: absolute;
    top: 20px; /* Keeps the logo 20px from the top */
    right: 20px; /* Moves the logo to the right */
    width: 30%; /* Adjust the size as needed (you can make it smaller or larger) */
    max-width: 150px; /* Optional: set a maximum width to keep it from getting too big */
    height: auto; /* Maintains the aspect ratio */
    z-index: 10; /* Ensures the logo appears above other elements */
}


.hero h1 {
    font-size: 3rem;
    animation: sparkle 3s ease-in-out infinite;
    transition: 0.3s ease;
}


.second-section {
    margin-top: 50px;
}

.second-section h2 {
    font-size: 2.5rem;
}

.start-btn {
    padding: 15px 30px;
    background-color: #009d9dc4;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #e64a19;
}
