<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/safespace/style.css">
    <title>Select Your Safespace</title>
</head>
<body>
    <header>
        <img src="/static/images/logo.png" class="logo" alt="Logo">
    </header>
    <h1>Select Your Safespace</h1>
    <div class="safespaces-container" id="safespaces-container"></div>
    <script src="/templates/safespace/safespace.js"></script>
</body>
</html>
