body {
    font-family: Copperplate, Papyrus, fantasy;
    background-image: url('/static/images/homepage.jpg');
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed to flex-start for better alignment */
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0; /* Reset default body margin */
}

header .logo {
    position: absolute;
    top: 20px;
    right: 20px; /* Changed to right for top right positioning */
    width: 100px;
}

h1 {
    font-size: 3rem;
    color: #333;
}

.safespaces-container {
    display: grid; /* Use grid for layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between grid items */
    margin-top: 50px; /* Space above the container */
    padding: 20px; /* Optional padding for the container */
    width: 100%; /* Full width */
    max-width: 1200px; /* Optional: limits max width for larger screens */
}

.safespace {
    text-align: center;
}

.safespace img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    border-radius: 10px; /* Rounded corners */
}

.safespace button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.safespace button:hover {
    background-color: #1976d2;
}
